*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.outer-headings{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

h1{
    padding-left: 250px;
    text-align:start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color:cornsilk;
}

.inner-headings{
    border: 0px solid rgb(212, 192, 192);
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    overflow:hidden;
    font-size: 30px;
}

.inner-headings span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    color: rgb(231, 169, 12);
    animation: ani 8s ease infinite;
}


@keyframes ani {
    0%,100%{
        top: 0;
    }
    20%{
        top: 0;
    }
    25%{
        top: -50px;
    }
    40%{
        top: -50px;
    }
    45%{
        top: -100px;
    }
    55%{
        top: -100px;
    }
    65%{
        top: -150px;
    }
    70%{
        top: -150px;
    }
    75%{
        top: -200px;
    }
    80%{
        top: -200px;
    }
    90%{
        top: -255px;
    }
    
}

.container{
    height: 50vh;
    justify-content:center ;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
}

ul{
    display:flex;
    margin-top: 150px;
    padding: 0;
}

li{
    list-style:none;
}

.list-items{
    display:flex;
    padding: 12px 60px;
    text-decoration: none ;
    color:rgb(231, 169, 12);
    font-size:larger;
    font-weight:500px;
    position:relative;
    transition: 2s ease;
    font-size: 25px;
}

.list-items::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: scaleY(1.8);
    transition: 1.3s  ;
    border-bottom: 2px rgb(39, 18, 13) solid;
    border-top: 2px rgb(8, 3, 4) solid;

}


.list-items:hover::before{
    transform: scaleY(0.8);
    opacity: 1;
}

.list-items::after{
    content: "";
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    position:absolute;
    height: 100%;
    width: 100%;
    transition: 0.8s;
    z-index:-2;
    transform: scale(0);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(240, 240, 240);
}

.list-items:hover::after{
    transform: scale(1);
}

body{
    background-color:rgb(71, 69, 70);
}
